<h3>Datos Actual Estados</h3>
  <table class="table table-hover"  >
    <thead>
      <tr>
        <th >id</th>
        <th >Nombre</th>
        <th >Descrición</th>
        <th >Acciones</th>      
      </tr>
    </thead>
    <tbody><%= render @actestados %></tbody>
    <tfoot>
      <tr>
        <td>
          <%= link_to image_tag('Crud/save.png'),  new_actestado_path,  :remote => true %>
        </td>
      </tr>
    </tfoot>
  </table>
      