<h3>Datos Novedades</h3>
  <table class="table table-hover"  >
    <thead>
      <tr>
        <th >id</th>
        <th >FechaOcurrencia</th>
        <th >Usuarios</th>
        <th >Implicados</th> 
        <th >ActEstado</th>
        <th >Descripción</th> 
        <th >Acciones</th>          
      </tr>
    </thead>
    <tbody>
      <%= render @novedades %>
    </tbody>
      <tfoot>
        <tr>
          <td>
            <%= link_to image_tag('Crud/save.png'),  new_novedad_path,  :remote => true %>
          </td>
        </tr>
      </tfoot>
  </table>
      