 <body id="fondo" >
  <br> <br> <br> <br> <br>
 
 <div id="home" class="jumbotron pull-right">
    <h1>SEP </h1>
    <p id="justify">
      Student Enterprise Practices  es la función que permite sistematizar por anticipado los factores de control de los practicantes  SENA.
    </p>
    <p id="justify" >
      Control al que desee lograr.
      Capacidad y facilidades al control de  aprendices en etapa productiva.

      Es la actividad de decidir acerca de los medios que el SENA necesitará para su sistema de control de aprendices en etapa productiva para facilitar el proceso de certificación  y evaluaciones de sus actividades en las empresas.

      En concreto, tiene por finalidad vigilar que se logre:

      Control de actividades, objetivos de proyectos, saber en todo momento que realiza el aprendiz y  llevar control de aprendices
      en donde se encuentra realizando las  sus etapa  practicas.
    </p>
    <p>
      <% if !current_user%>
     <%= link_to 'Ingresar', :login, :class => "btn btn-success", :remote => true %>
      <% end %>
    </p>
  </div>
  </div>
    <hr>   
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        Student Enterprise Practices  2014  | <a href="http://senadisenoconfeccionymoda.blogspot.com/">Centro de Formación en Diseño Confección y Moda </a>
      </p>
      <b class="pull-right" ></b>
    </div>
  </div>
</div>
</body>