@import "bootstrap";


/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

}

input {

  height: auto !important;
}

select{
  width: 100%;
  height: 30px;
}
